cmake
wheel
numpy>1.2
hydra-core
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
pyhash
pytorch-lightning
lightning_lite
torch
torchvision
MulticoreTSNE
gitpython
scipy
sentence-transformers
setuptools==57.5.0
gym
moviepy
tqdm
termcolor
wandb
